@font-face {
  font-family: 'Inter';
  src: url('./Font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
  
}


.ani{
  animation-name: identifier;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes identifier {
  from { 
 opacity: 0;
   
   
  }
  
}